.text-list{
    height: auto;
    background-color: white;
    width: 28%;
    float: left;
}

.text-all {
    overflow: hidden;
    height: auto;
    margin-top: 40px;
}
.text-detail{
    background-color: white;
    float: right;
    margin-left: 10px;
    height: 550px;
    width: 70%;
    padding-top: 30px;
}
.text-list ul{
    display: inline;
    list-style: none;
    width: 100%;
    line-height: 45px;
}
.text-list ul li{
    display: inline-block;
}
.text-title{
    width: 100%;
    height: 30px;
}
.text-code{
    width: 100%;
    height: 90px;
    text-align: right;
    line-height: 80px;
}
.text-detail .text-title-hr{
    border: 0.01em solid gainsboro;
    width: 95%;
}
.text-detail-hr{
    border: 0.01em dashed gainsboro;
    width: 95%;
}
.text-detail-para{
    text-indent: 2em;
    font-size: 1.1em;
    color: grey;
    width: 96%;
    line-height: 1.9em;
}
.text-page{
    width: 90%;
    height: 250px;
}
.text-up{
    width: 50%;
    float: left;
    height: 230px;
}
.page-up{
    width: 20%;
    color: #4B535A;
    font-size: 0.9em;
}
.page-down{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #4B535A;
}
.text-share{
    float: right;
    width: 45%;
    height: 80px;
    text-align: right;
}
.text-share a:hover{
    color: grey;
}

.text-share p{
    line-height: 35px;
}

a.weixin{
    position:relative;
}
.weixin::after{
    content: url(../images/QRcode1.gif);
    position: absolute;
    top: 29px;
    right: -16px;
    z-index: 99;
    transform-origin: top;
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.weixin:hover::after{
    transform:scale(1);
    opacity: 1;
}
.list{
    border-bottom: 1px solid firebrick;
    width: 33%;
    color: firebrick;
    font-size: 1.1em;
}
.more{
    text-align: right;
    width: 65%;
    border-bottom: 1px solid gainsboro;
    color: grey;
    font-size: 0.9em;
    font-weight: 500;
}
.text-share{
    font-size: 0.9em;
    color: black;
}

