<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http‐equiv="X‐UA‐Compatible" content="IE=edge,chrome=1">
    <script src="scripts/jquery-3.3.1.min.js"></script>
    <title>本院概况</title>
    <!-- <link rel="Stylesheet" type="text/css" href="css/index.css"> -->
    <link rel="Stylesheet" type="text/css" href="css/about.css">
    <script type="text/javascript" src="scripts/about.js"></script>
</head>
<body background="images/background.png">
<div class="header">
    <div class="header-top">
        <p>淄博 </p>
        <img src="images/duoyun.png">
        <p>35℃ ~21℃</p>
    </div>
    <div class="header-title">
        <img src="images/sdut.png">
        <img src="images/齐.png">
        <img src="images/文.png">
        <img src="images/化.png">
        <img src="images/研.png">
        <img src="images/究.png">
        <img src="images/院.png">
    </div>
    <div class="header-search">
        <input type="text" id="text-search">
        <button onclick="">
            <img src="images/icon-search.png">
        </button>
    </div>
</div>
<div class="nav">
    <div class="nav-contant">
        <a href="index.html">首页</a>
        <a href="about.html">本院概况</a>
        <a href="#">研究基地</a>
        <a href="#">研究动态</a>
        <a href="list.html">学术交流</a>
        <a href="#">管子学刊</a>
        <a href="#">文献中心</a>
        <a href="shipin.html">视频中心</a>
    </div>
</div>
<div class="main">
    <div class="main-nav">
        <div id="nav1">研究院简介</div>
        <div id="nav2">机构设置</div>
        <div id="nav3">研究队伍</div>
        <div id="nav4">联系我们</div>
        <div id="nav5">大事记</div>
    </div>
    <div class="main-text">
        <div id="text1">
            <p>齐文化研究院是山东理工大学直属科研单位。齐文化研究院的前身是建于1988年的齐文化研究所。根据《山东省“九五”期间精神文明建设规划》和《山东省“九五”期间社会科学规划》关于加强齐鲁文化研究，建立“孔子研究院”与“齐文化研究院”的精神与要求，1999年在齐文化研究所的基础上整建制并入了《管子学刊》编辑部，建立了齐文化研究院。2000年，齐文化研究院被确立为“山东省齐文化研究基地”。2005年，齐文化研究院入选山东省文化艺术科学省级重点学科。2015年初，我院成为山东省高校优秀传统文化与人才培养研究基地建设单位。</p>
            <img src="images/about1.jpg">
            <p>齐文化研究院的前身-------淄博师专齐文化研究所，创建于1988年，是当时国内唯一由省编制委员会批准的专职研究齐文化的学术机构。根据《山东省“九五”期间精神文明建设规划》和《山东省“九五”哲学社会科学发展规划》精神和要求，1999年淄博学院成立后更名为齐文化研究院，2001年山东理工大学成立后更名为山东理工大学齐文化研究院。2000年，齐文化研究院成为山东省首批七个社科重点研究基地之一，2005年成为山东省文化艺术科学省级重点学科，2011年成为山东省高校“十二五”人文社科研究基地，2015年我院成为山东省高校优秀传统文化与人才培养研究基地建设单位。研究院下设《管子学刊》编辑部、业务部、文献信息中心、办公室。现有专职人员15名，其中正高职称人员7名，副高级职称人员5名，博士5名。</p>
            <p>学术研究和学科建设是研究院的主要任务。先后承担国家重点图书与重点出版项目1项，《齐文化发展史》、《海岱地区文明的起源与发展研究》、《战国百家争鸣与中华传统体育精神构架》《历代<管子>文献整理与研究》《管子学史》5项国家社科基金项目，完成省部级及其它各级各类规划课题与横向合作课题50余项，出版学术专著60余部，发表学术论文500余篇。获得省、市级社科优秀成果奖以及其它各类成果奖100余项，其中，国家“八五”重点图书规划《齐文化丛书》（含书43种，共计1100万字）获山东省第四届精品工程奖，《齐文化发展史》获首届“中华文化优秀著作奖”三等奖、山东省社科优秀成果二等奖。《<考工记>的工艺美学思想》《富民思想——齐文化的价值内核》《齐国建筑艺术及其特色》获山东省社科优秀成果二等奖。《齐文化通论》、《齐文化与山东省文化大省建设研究》、《齐文化与先秦地域文化》《齐国绘画艺术探索》《齐国服饰艺术初探》《战国百家证明与中华传统体育精神构架》获山东省社科优秀成果三等奖。</p>
            <p>齐文化研究院积极开拓学术研究与教学实践相结合的新路子。先后给山东理工大学研究生与本科生开出了《中国传统文化》、《齐文化概论》、《齐文化发展史》、《齐文化旅游概论》、《孙子兵法》《中国古建筑欣赏》、《齐文化与成功学》等10余门课程。在此基础上，2006年开始进行《国学与齐文化特色课程体系》建设，并自2006级学生始开设《中国传统文化与人生修养》必修课，走出了一条将传统文化资源转化为教育教学资源、齐文化特色课程系列化的新路子。</p>
            <p>《管子学刊》作为齐文化研究院的院刊，创办于1987年，1992年入选全国中文核心期刊，1999年入选中国人文社会科学核心期刊，2004年入选山东省优秀期刊和中国学术期刊综合评价数据库（CAJCED)统计源期刊，2004年2005年连续入选中国核心期刊数据库与中文社会科学引文索引来源期刊（CSSCI）。</p>
            <p>齐文化研究院在做好研究、教学和出版等工作的同时，积极为地方服务。先后主持完成了山东省社科规划重大课题《齐文化与山东文化大省建设研究》，参与完成了山东省社科规划课题《淄博市文化产业发展战略研究》；完成了《管仲纪念馆创意策划书》、《周村丝绸博物馆创意策划书》、《梦泉山旅游区创意策划书》等，其中已于2004年和2006年建成并向游客开放；积极参与了世界足球起源于齐都临淄论证会；多次参与中央电视台《走遍中国》、山东电视台《齐鲁行》等大型节目的录制；与淄博市纪委合作撰写了《齐文化廉政名言警句》、《齐文化廉政故事选编》，与淄博市工商局合作《齐工商研究》，与淄博市委宣传部合作撰写了“淄博三名丛书”（《淄博名人》、《淄博名景》、《淄博名物》）、《淄博历史人物》等书；积极参与了 “临淄齐国故城与齐王陵”申报世界文化遗产、蹴鞠、孟姜女故事等申报中国非物质文化遗产和山东工作非物质文化遗产的论证申报工作。2004年，齐文化研究院出版《齐文化旅游丛书》，这是第一套关于齐文化旅游的通俗读物。还承担了大量的齐文化旅游、齐文化产业以及宣传普及齐文化的地方委托项目等。</p>
            <p>齐文化研究任重而道远。齐文化研究院将仍然沿着科研、教学、办刊、服务地方相结合的路子一如既往地前进，为山东文化强省目标的早日实现努力奋斗。</p>
        </div>
        <div id="text2">
            <p>齐文化研究任重而道远。齐文化研究院将仍然沿着科研、教学、办刊、服务地方相结合的路子一如既往地前进，为山东文化强省目标的早日实现努力奋斗。</p>
        </div>
        <div id="text3"></div>
        <div id="text4"></div>
        <div id="text5"></div>
    </div>
</div>
  <hr class="footer-hr">
 <div class="footer">
        <p>版权所有 Copying @ 2018   山东省淄博市张店区张周路12号</p>
        <p><a href="#">手机版 </a> |本站使用 <a href="#"> 凡科建站</a> 搭建 |<a href="#"> 管理登录</a></p>
    </div>
</body>
</html>
