<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http‐equiv="X‐UA‐Compatible" content="IE=edge,chrome=1">
    <script src="scripts/jquery-3.3.1.min.js"></script>
    <title>视频中心</title>
    <link rel="Stylesheet" type="text/css" href="css/shipin.css">
</head>
<body background="images/background.png">
<div class="header">
    <div class="header-top">
        <p>淄博 </p>
        <img src="images/duoyun.png">
        <p>35℃ ~21℃</p>
    </div>
    <div class="header-title">
        <img src="images/sdut.png">
        <img src="images/齐.png">
        <img src="images/文.png">
        <img src="images/化.png">
        <img src="images/研.png">
        <img src="images/究.png">
        <img src="images/院.png">
    </div>
    <div class="header-search">
        <input type="text" id="text-search">
        <button onclick="">
            <img src="images/icon-search.png">
        </button>
    </div>
</div>
<div class="nav">
    <div class="nav-contant">
        <a href="index.html">首页</a>
        <a href="about.html">本院概况</a>
        <a href="#">研究基地</a>
        <a href="#">研究动态</a>
        <a href="list.html">学术交流</a>
        <a href="#">管子学刊</a>
        <a href="#">文献中心</a>
        <a href="shipin.html">视频中心</a>
    </div>
</div>
<div class="main">
    <div class="main-nav">
        <div>会议视频</div>
    </div>
    <div class="main-text">
        <img src="images/shipin1.jpg">
        <img src="images/shipin2.jpg">
        <img src="images/shipin3.jpg">
        <p>上一页 <span>1</span> 下一页</p>
    </div>
</div>
  <!-- <hr class="footer-hr"> -->
<div class="footer">
       <p>版权所有 Copying @ 2018   山东省淄博市张店区张周路12号</p>
       <p><a href="#">手机版 </a> |本站使用 <a href="#"> 凡科建站</a> 搭建 |<a href="#"> 管理登录</a></p>
</div>
</body>
</html>
